
.catalog-container{
    background : #f3ecc2;
    min-height: 100vh !important;
}
#catalog{
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.76);
    position: relative;
}
.catalog-img{
    height: 35rem  !important;
    width: 100%;
}
.display-3{
    background: #e8505b;
}
.btn-slide{
    margin: 0em 40%;
    padding: 3px;
    font-size: 2em;
    color: thistle;
}

.nav-buttons {
    font-size: xx-large;
    position: absolute;
    top: 40%;
    background: rgba(103, 145, 145, 0.336);
    cursor: pointer;
}
#nav-prev {
    
}
#nav-next {
    position: absolute;
    right: 0;
}